In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import math 
import os

import matplotlib.pyplot as plt

import allel
import subprocess

In [75]:
## vcf file produced by slim 
vcf = allel.read_vcf('subp1.vcf')
print(len(vcf['variants/POS']))
genotypes = allel.GenotypeArray(vcf['calldata/GT'])
ref_allele_counts = genotypes.count_alleles()[:, 0]
alt_allele_counts = genotypes.count_alleles()[:, 1]

47

In [6]:
slim = pd.read_csv('subp1allele_counts.csv',header=None).rename(columns={0:'pos', 1:'alt'})
slim['pos'] = slim['pos'].astype(int)
## correct for the 0 index of slim
slim.loc[:,'pos'] = slim['pos'] + 1
len(slim)
slim['ref'] = 100 - slim['alt'] 
slim = slim.sort_values(by='pos')[['pos', 'ref', 'alt']].reset_index(drop=True)

In [82]:
pos = vcf['variants/POS']
ref_allele_counts = genotypes.count_alleles()[:, 0]
alt_allele_counts = genotypes.count_alleles()[:, 1]

In [83]:
vcf_data = pd.DataFrame({'pos': pos, 'ref' :ref_allele_counts, 'alt': alt_allele_counts})

In [84]:
vcf_data = vcf_data.sort_values(by='pos').reset_index(drop=True) # == slim.sort_values(by='alt')

In [85]:
vcf_data.dtypes

pos    int32
ref    int32
alt    int32
dtype: object

In [12]:
slim

         pos  ref  alt
0     472939   84   16
1    1234970   75   25
2    3259108   92    8
3    3542382   92    8
4    4783477   74   26
5    5415374   90   10
6    5571785   93    7
7    7943769   82   18
8    8033382   96    4
9    9303061   96    4
10  10015566   87   13
11  10696812   92    8
12  11220230   81   19
13  11362442   92    8
14  11757617   66   34
15  12300691   96    4
16  12971731   98    2
17  13388427    0  100
18  14211701   96    4
19  15927575   87   13
20  16999624   87   13
21  17170917   85   15
22  17482501    8   92
23  18350887   96    4
24  20307611   98    2
25  20457576   91    9
26  21386975   33   67
27  21432277   75   25
28  21891311   72   28
29  21922053   79   21
30  23164525   54   46
31  23481768   20   80
32  23746801   80   20
33  23820665   85   15
34  25813727   92    8
35  26533634   92    8
36  26533729   97    3
37  28987854   93    7
38  29250500   92    8
39  29540911   92    8
40  30397836   86   14

In [87]:
slim.size

141

In [88]:
(slim == vcf_data).all()

pos    True
ref    True
alt    True
dtype: bool

In [89]:
slim

         pos  ref  alt
0     472939   85   15
1     512915   98    2
2    1234970   84   16
3    2159339   88   12
4    3259108   72   28
5    3542382   92    8
6    4783477   84   16
7    5264798   98    2
8    5571785   98    2
9    6346978   94    6
10   6733596   98    2
11   7943769   60   40
12   8033382   84   16
13   9118710   87   13
14   9303061   87   13
15   9617102   87   13
16  10015566   89   11
17  10610262   94    6
18  11362442   97    3
19  11757617   71   29
20  12971731   98    2
21  13108294   99    1
22  13388427    0  100
23  15927575   92    8
24  16992414   87   13
25  16999624   89   11
26  17482501   13   87
27  19216376   94    6
28  19438402   98    2
29  19898795   92    8
30  19997770   97    3
31  20457576   85   15
32  21386975   39   61
33  21432277   98    2
34  21637410   92    8
35  21882673   94    6
36  21891311   75   25
37  21922053   92    8
38  23103019   90   10
39  23164525   93    7
40  23481768   30   70
41  23746801   80   20
42  24880565   94    6
43  26533729   98    2
44  28826860   87   13
45  28987854   94    6
46  30397836   98    2

In [13]:
os.listdir()

['subp4allele_counts.csv',
 'subp0allele_counts.csv',
 'testing.ipynb',
 'subp1allele_counts.csv',
 'subp2allele_counts.csv',
 'pop_sizes.csv',
 'subp3allele_counts.csv']

In [ ]:
 'pop_sizes.csv',

In [ ]:
allele_counts = ['subp4allele_counts.csv',
 'subp0allele_counts.csv',
 'subp1allele_counts.csv',
 'subp2allele_counts.csv',
 'subp3allele_counts.csv']

In [ ]:
for i in allele_counts:

In [ ]:
pd.read_csv('pop_sizes.csv',header=None) # .rename(columns={0:'pos', 1:'alt'})

In [ ]:
allele_counts = pd.read_csv('subp1allele_counts.csv',header=None).rename(columns={0:'pos', 1:'alt'})
allele_counts['pos'] = allele_counts['pos'].astype(int)
## correct for the 0 index of slim
allele_counts.loc[:,'pos'] = allele_counts['pos'] + 1
allele_counts['ref'] = 100 - allele_counts['alt'] 
allele_counts = allele_counts.sort_values(by='pos')[['pos', 'ref', 'alt']].reset_index(drop=True)

In [ ]:
######

In [8]:
list(range(1,16))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [14]:
results = pd.read_csv('../../results_slim.txt',skiprows= list(range(0,15)))

In [15]:
results

     pop0  pop_size   50
0    pop0    472938    4
1    pop0  21432276   12
2    pop0  21386974   81
3    pop0   1234969   18
4    pop0  23746800   20
..    ...       ...  ...
202  pop4  13388426  100
203  pop4  11220229    6
204  pop4  17482500  100
205  pop4  16999623    8
206  pop4  11362441    8

[207 rows x 3 columns]